<!--nav block-->
<nav class="nav" role="navigation">
    <div class="nav-block">
        {{!-- <div class="row"> --}}
            <!-- logo -->
            <div class="logo">
                <a href="/">
                    <img src="/img/misc/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="nav-space"></div>
            <ul class="nav-bar">
                {{#each navItems}}
                    <li class="nav-item">
                        <a href={{this.link}} class="nav-link">
                            <img src="{{this.image}}" alt="{{this.title}}" class="nav-item">
                        </a>
                    </li>
                    <div class="nav-space"></div>
                {{/each}}
            </ul>
        {{!-- </div> --}}
    </div>
</nav>

<!--title block-->
<div class="title-block">
    <!--header-->
    <img src="{{header.link}}" alt="{{header.subcategory}}" class="header-img">
</div>

<!--space block-->
<div class="space-block"></div>

<!--items block-->
<div class="items-block">
    <div class="row">
        <div class="end-space"></div>
        <div class="item-space"></div>
        <div class="item">
            <img src="/img/misc/logo.png" alt="">
        </div>
    </div>
</div>

{{#if randomItemArray}}
<div class="section-divider" id="gallery"></div>
<div class="row">
    {{#each randomItemArray}}
        <div class="col-3">
            <!--gallery item-->
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/subcategory/{{category}}/{{subcategory}}" class="gallery-img">
                            {{#isVideo cover}}
                                <video controls>
                                    <source src="{{cover}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                {{else}}
                                    <img src="{{cover}}" alt="{{title}}" class="img-thumbnail">
                            {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
                <div>
                    {{#if subcategory}}
                        <h1 class="color3 dawningOfANewDay">{{subcategory}}</h1>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h1>No randomItemArray</h1>
{{/if}}

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>