<div>
    {{>nav}}
</div>

<!--header-->
<div class="section-divider" id="about"></div>
<h1 class="color3 dawningOfANewDay">{{category}}</h1>

{{#if randomItemArray}}
<div class="section-divider" id="gallery"></div>
<div class="row">
    {{#each randomItemArray}}
        <div class="col-3">
            <!--gallery item-->
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/subcategory/{{category}}/{{subcategory}}" class="gallery-img">
                            {{#isVideo cover}}
                                <video controls>
                                    <source src="{{cover}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                {{else}}
                                    <img src="{{cover}}" alt="{{title}}" class="img-thumbnail">
                            {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
                <div>
                    {{#if subcategory}}
                        <h1 class="color3 dawningOfANewDay">{{subcategory}}</h1>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h1>No randomItemArray</h1>
{{/if}}

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>