<!--header-->
<div class="section-divider" id="about"></div>
<h1 class="color3 dawningOfANewDay">{{category}}</h1>

<!--image gallery : items-->
{{#if items}}
<div class="section-divider" id="gallery"></div>
<div class="row">
  {{#each items}}
    <div class="col-3">
      <!--gallery item-->
      <a href="/item/{{this.id}}" class="gallery-img">
        <img src="{{image}}" alt="{{title}}" class="img-thumbnail">
        <h5>{{this.title}}</h5>
        <h7>{{this.date}}</h7>
      </a>
    </div>
  {{/each}}
</div>
{{/if}}

<!--footer-->
<footer class="white-bg">
  Copyright 2023 - Kali Ryder
</footer>