<!--nav block-->
<nav class="nav" role="navigation">
    <div class="nav-block">
        {{!-- <div class="row"> --}}
            <!-- logo -->
            <div class="logo">
                <a href="/">
                    <img src="/img/misc/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="nav-space"></div>
            <ul class="nav-bar">
                {{#each navItems}}
                    <li class="nav-item">
                        <a href={{this.link}} class="nav-link">
                            <img src="{{this.image}}" alt="{{this.title}}" class="nav-item">
                        </a>
                    </li>
                    <div class="nav-space"></div>
                {{/each}}
            </ul>
    </div>
</nav>

<!--title block-->
<div class="title-block">
    <!--header-->
    <img src="{{header.link}}" alt="{{header.category}}" class="title-block header-img">
</div>

<!-- check if rowArray exists and is not empty -->
{{#if rowArray}}
    <!-- iterate through each row in rowArray -->
    {{#each rowArray}}
        <div class="space-block"></div>
        <div class="row items-block">
            <div class="end-space"></div>
            <div class="item-space"></div>
            <!-- iterate through each item in the current row -->
            {{#if this}}
                {{#each this}} 
                    <div class="item">
                        <div class="media-container">
                            {{#if cover}}
                                <a href="/subcategory/{{category}}/{{subcategory}}" class="gallery-img">
                                    {{#isVideo cover}}
                                        <video controls>
                                            <source src="{{cover}}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        {{else}}
                                            <img src="{{cover}}" alt="{{title}}" class="img-thumbnail">
                                    {{/isVideo}}
                                </a>
                            {{/if}}
                        </div>
                        <h3>{{subcategory}}</h3>
                    </div>
                    <div class="item-space"></div>
                {{/each}}
            {{/if}}
            <div class="end-space"></div>
        </div>
    {{/each}}
{{/if}}

<div class="space-block"></div>

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>