<div class="container-fluid">
    {{>navbar}}
</div>

<!--header-->
<div class="section-divider" id="about"></div>

<!--item gallery : featured items-->
<div class="gallery-container">
  <div class="section-divider" id="gallery"></div>
  <h2 class="section-header dawningOfANewDay">Item Gallery</h2>
  <div class="row">
    <!--physical art item-->
    {{#if physicalArtRandomItem}}
      <div class="col-3">
        {{#each physicalArtRandomItem}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/item/{{category}}/{{subcategory}}/{{group}}/{{id}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--clothes item-->
    {{#if clothesRandomItem}}
      <div class="col-3">
        {{#each clothesRandomItem}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/item/{{category}}/{{subcategory}}/{{group}}/{{id}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--digital art item-->
    {{#if digitalArtRandomItem}}
      <div class="col-3">
        {{#each digitalArtRandomItem}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/item/{{category}}/{{subcategory}}/{{group}}/{{id}}" class="gallery-img"></a>
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--code item-->
    {{#if codeRandomItem}}
      <div class="col-3">
        {{#each codeRandomItem}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/item/{{category}}/{{subcategory}}/{{group}}/{{id}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>

<script>
  function calculateSizes() {
    const screenHeight = window.innerHeight;
    const screenWidth = window.innerWidth;
    const navItemCount = document.querySelectorAll('.nav-item').length;
    const navSpaceSize = /* your calculation based on screenHeight, screenWidth, and navItemCount */;

    // Update CSS Variables
    document.documentElement.style.setProperty('--nav-space-size', `${navSpaceSize}px`);
    // Repeat for other sizes
  }

  // Calculate sizes on initial load and on window resize
  calculateSizes();
  window.addEventListener('resize', calculateSizes);
</script>