<!--nav block-->
<div class="nav-block">
    {{>nav}}
</div>

<!--space block-->
<div class="space-block"></div>

<!--name block-->
<div class="name-block">
    <div class="row">
        <div class="letter-end-space"></div>
        <!-- letter K -->
        <div class="letter" style="background-image: url('{{physicalArtRandomItem.cover}}');">
            <a href="/item/physical/physical-art/{{physicalArtRandomItem.group}}/{{physicalArtRandomItem.id}}">
                <img src="/img/misc/letter-k.PNG" alt="K" class="letter-mask">
                {{#isVideo physicalArtRandomItem.cover}}
                    <video controls>
                        <source src="{{physicalArtRandomItem.cover}}" type="video/mp4" class="letter-media">
                        Your browser does not support the video tag.
                    </video>
                {{else}}
                    <img src="{{physicalArtRandomItem.cover}}" alt="{{physicalArtRandomItem.title}}" class="letter-media img-thumbnail img-fluid">
                {{/isVideo}}
            </a>
        </div>
        <div class="letter-space"></div>
        <!-- letter A -->
        <div class="letter" style="background-image: url('{{clothesRandomItem.cover}}');">
            <a href="/item/physical/clothes/{{clothesRandomItem.group}}/{{clothesRandomItem.id}}">
                <img src="/img/misc/letter-a.PNG" alt="A" class="letter-mask">
                {{#isVideo clothesRandomItem.cover}}
                    <video controls>
                        <source src="{{clothesRandomItem.cover}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {{else}}
                    <img src="{{clothesArtRandomItem.cover}}" alt="{{clothesRandomItem.title}}" class="letter-media img-thumbnail img-fluid">
                {{/isVideo}}
            </a>
        </div>
        <div class="letter-space"></div>
        <!-- letter L -->
        <div class="letter media-container" style="background-image: url('{{digitalArtRandomItem.cover}}');">
            <a href="/item/digital/digital-art/{{digitalArtRandomItem.group}}/{{digitalArtRandomItem.id}}">
                <img src="/img/misc/letter-l.PNG" alt="L" class="letter-mask">
                {{#isVideo digitalArtRandomItem.cover}}
                    <video controls>
                        <source src="{{digitalArtRandomItem.cover}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {{else}}
                    <img src="{{digitalArtRandomItem.cover}}" alt="{{digitalArtRandomItem.title}}" class="letter-media img-thumbnail img-fluid">
                {{/isVideo}}
            </a>
        </div>
        <div class="letter-space"></div>
        <!-- letter I -->
        <div class="letter" style="background-image: url('{{codeRandomItem.cover}}');">
            <a href="/item/physical/physical-art/{{codeRandomItem.group}}/{{codeRandomItem.id}}">
                <img src="/img/misc/letter-i.PNG" alt="I" class="letter-mask">
                {{#isVideo codeRandomItem.cover}}
                    <video controls>
                        <source src="{{codeRandomItem.cover}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {{else}}
                    <img src="{{codeRandomItem.cover}}" alt="{{codeRandomItem.title}}" class="letter-media img-thumbnail img-fluid">
                {{/isVideo}}
            </a>
        </div>
        <div class="letter-end-space"></div>
    </div>
</div>

<!--space block-->
<div class="space-block"></div>

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>

<script>
  function calculateSizes() {
    const screenHeight = window.innerHeight;
    const screenWidth = window.innerWidth;
    const navItemCount = document.querySelectorAll('.nav-item').length;
    const navSpaceSize = /* your calculation based on screenHeight, screenWidth, and navItemCount */;

    // Update CSS Variables
    document.documentElement.style.setProperty('--nav-space-size', `${navSpaceSize}px`);
    // Repeat for other sizes
  }

  // Calculate sizes on initial load and on window resize
  calculateSizes();
  window.addEventListener('resize', calculateSizes);
</script>