<!--header-->
<div class="section-divider" id="about"></div>

<!--slideshow : items-->
{{#if slideshow}}
  <div class="owl-slideshow owl-carousel owl-theme">
    {{#each slideshow}}
      <div class="item">
        <div class="media-container">
          {{#if this.cover}}
            <a href="/item/{{this.id}}" class="gallery-img">
              {{#isVideo cover}}
                <video controls>
                  <source src="{{cover}}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {{else}}
                <img src="{{cover}}" alt="{{title}}" class="img-fluid">
              {{/isVideo}}
            </a>
          {{/if}}
        </div>
      </div>
    {{/each}}      
  </div>
{{/if}}

<!--carousel slider : items-->
{{#if items}}
    <div class="section-divider" id="services"></div>
    <h2 class="section-header dawningOfANewDay" id="packages">Slider</h2>
    <!--slider-->
    <div class="owl-theme owl-carousel owl-packages">
        {{#each items}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if this.cover}}
                        <a href="/item/{{this.id}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
            </div>
            <ul class="list-group list-group-flush nanumMyeongjo-regular">
                <li class="list-group-item">{{this.title}}</li>
            </ul>
        {{/each}}
    </div>
{{/if}}

<!--image gallery : featured categories-->
<div class="gallery-container">
  <div class="section-divider" id="gallery"></div>
  <h2 class="section-header dawningOfANewDay">Category Gallery</h2>
  <div class="row">
    <!--sculpture item-->
    {{#if sculpture}}
      <div class="col-3">
        {{#each sculpture}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if this.cover}}
                        <a href="/{{this.category}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--paper item-->
    {{#if paper}}
      <div class="col-3">
        {{#each paper}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if this.cover}}
                        <a href="/{{this.category}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--code item-->
    {{#if code}}
      <div class="col-3">
        {{#each code}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if this.cover}}
                        <a href="/{{this.category}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--digital item-->
    {{#if digital}}
      <div class="col-3">
        {{#each digital}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if this.cover}}
                        <a href="/{{this.category}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <!--fashion item-->
    {{#if fashion}}
      <div class="col-3">
        {{#each fashion}}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if this.cover}}
                        <a href="/{{this.category}}" class="gallery-img">
                        {{#isVideo cover}}
                            <video controls>
                                <source src="{{cover}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {{else}}
                                <img src="{{cover}}" alt="{{title}}" class="img-thumbnail img-fluid">
                        {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>