<!--nav block-->
<nav class="nav" role="navigation">
    <div class="nav-block">
        {{!-- <div class="row"> --}}
            <!-- logo -->
            <div class="logo">
                <a href="/">
                    <img src="/img/misc/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="nav-space"></div>
            <ul class="nav-bar">
                {{#each navItems}}
                    <li class="nav-item">
                        <a href={{this.link}} class="nav-link">{{this.name}}</a>
                    </li>
                    <div class="nav-space"></div>
                {{/each}}
            </ul>
        {{!-- </div> --}}
    </div>
</nav>

<!--space block-->
<div class="space-block"></div>

<!--name block-->
<div class="name-block">
    <div class="row">
        <div class="letter-end-space"></div>
        <!-- letter K -->
        <div class="letter">
            <div class="letter-mask">
                <img src="/img/misc/letter-k.PNG" alt="K" class="letter-mask">
                {{#isVideo physicalArtRandomItem.cover}}
                    <!-- if cover is a video -->
                    <video class="letter-media" autoplay loop muted>
                    <source src="{{physicalArtRandomItem.cover}}" type="video/mp4">
                    </video>
                {{else}}
                    <!-- if cover is an image -->
                    {{!-- <div class="letter-media" style="background-image: url('{{physicalArtRandomItem.cover}}');"></div> --}}
                    <img src="{{physicalArtRandomItem.cover}}" 
                    alt="{{physicalArtRandomItem.title}}" class="letter-media">
                {{/isVideo}}
            </div>
        </div>
        <div class="letter-space"></div>
        <!-- letter A-->
        <div class="letter">
            <div class="letter-mask">
                <img src="/img/misc/letter-a.PNG" alt="A" class="letter-mask">
                {{#isVideo clothesRandomItem.cover}}
                    <!-- if cover is a video -->
                    <video class="letter-media" autoplay loop muted>
                    <source src="{{clothesRandomItem.cover}}" type="video/mp4">
                    </video>
                {{else}}
                    <!-- if cover is an image -->
                    <div class="letter-media" style="background-image: url('{{clothesRandomItem.cover}}');"></div>
                {{/isVideo}}
            </div>
        </div>
        <div class="letter-space"></div>
        <!-- letter L-->
        <div class="letter">
            <div class="letter-mask">
                <img src="/img/misc/letter-l.PNG" alt="L" class="letter-mask">
                {{#isVideo digitalArtRandomItem.cover}}
                    <!-- if cover is a video -->
                    <video class="letter-media" autoplay loop muted>
                    <source src="{{digitalArtRandomItem.cover}}" type="video/mp4">
                    </video>
                {{else}}
                    <!-- if cover is an image -->
                    <div class="letter-media" style="background-image: url('{{digitalArtRandomItem.cover}}');"></div>
                {{/isVideo}}
            </div>
        </div>
        <div class="letter-space"></div>
        <!-- letter I-->
        <div class="letter">
            <div class="letter-mask">
                <img src="/img/misc/letter-i.PNG" alt="I" class="letter-mask">
                {{#isVideo codeRandomItem.cover}}
                    <!-- if cover is a video -->
                    <video class="letter-media" autoplay loop muted>
                    <source src="{{codeRandomItem.cover}}" type="video/mp4">
                    </video>
                {{else}}
                    <!-- if cover is an image -->
                    <div class="letter-media" style="background-image: url('{{codeRandomItem.cover}}');"></div>
                {{/isVideo}}
            </div>
        </div>
        <div class="letter-end-space"></div>
    </div>
</div>

<!--space block-->
<div class="space-block"></div>

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>

<script>
    const screenHeight = window.innerHeight;
    console.log(screenHeight);
    const screenWidth = window.innerWidth;
    console.log(screenWidth);
    const navItemCount = 4;
    const navSpaceSize = (screenWidth / 24);
    const x = screenWidth;
    const y = screenHeight;
    const n = navItemCount;
    const s = navSpaceSize;
    const spaceBlockSizeHeight = 5;
    const spaceBlockSizeWidth = 5;

    function calculateSizes() {
        calculateNavSizes();
        calculateNameSizes();
    }
    function calculateNavSizes() {
        const navBlockSizeHeight = (1/6)*y;
        const navBlockSizeWidth = x;

            const logoSizeHeight = (1/6)*y;
            const logoSizeWidth = (1/6)*x;

            const navBarSizeHeight = (1/6)*y;
            const navBarSizeWidth = (5/6)*x;

                const navSpaceSizeHeight = (1/6)*y;
                const navSpaceSizeWidth = s;

                const navItemSizeHeight = (1/6)*y;
                const navItemSizeWidth = ((((5/6)*x)-(s*(n+1)))/n);

        //update CSS variables
        //update nav-block
        document.documentElement.style.setProperty('--nav-block-size-height', `${navBlockSizeHeight}px`);
        document.documentElement.style.setProperty('--nav-block-size-width', `${navBlockSizeWidth}px`);
            //update logo
            document.documentElement.style.setProperty('--logo-size-height', `${logoSizeHeight}px`);
            document.documentElement.style.setProperty('--logo-size-width', `${logoSizeWidth}px`);
            //update nav-bar
            document.documentElement.style.setProperty('--nav-bar-size-height', `${navBarSizeHeight}px`);
            document.documentElement.style.setProperty('--nav-bar-size-width', `${navBarSizeWidth}px`);
                //update nav-space
                document.documentElement.style.setProperty('--nav-space-size-height', `${navSpaceSizeHeight}px`);
                document.documentElement.style.setProperty('--nav-space-size-width', `${navSpaceSizeWidth}px`);
                //update nav-item
                document.documentElement.style.setProperty('--nav-item-size-height', `${navItemSizeHeight}px`);
                document.documentElement.style.setProperty('--nav-item-size-width', `${navItemSizeWidth}px`);
    }

    function calculateNameSizes() {
        const nameBlockSizeHeight = (2/3)*y;
        const nameBlockSizeWidth = x;

            const letterEndSpaceSizeHeight = (2/3)*y;
            const letterEndSpaceSizeWidth = (5/48)*x;

            const letterSizeHeight = (2/3)*y;
            const letterSizeWidth = (1/6)*x;

                const letterMaskSizeHeight = (2/3)*y;
                const letterMaskSizeWidth = (1/6)*x;

                const letterMediaSizeHeight = (2/3)*y;
                const letterMediaSizeWidth = (1/6)*x;

            const letterSpaceSizeHeight = (2/3)*y;
            const letterSpaceSizeWidth = (1/24)*x;

        //update CSS variables
        //update name-block
        document.documentElement.style.setProperty('--name-block-size-height', `${nameBlockSizeHeight}px`);
        document.documentElement.style.setProperty('--name-block-size-width', `${nameBlockSizeWidth}px`);
            //update letter-end-space
            document.documentElement.style.setProperty('--letter-end-space-size-height', `${letterEndSpaceSizeHeight}px`);
            document.documentElement.style.setProperty('--letter-end-space-size-width', `${letterEndSpaceSizeWidth}px`);
            //update letter
            document.documentElement.style.setProperty('--letter-size-height', `${letterSizeHeight}px`);
            document.documentElement.style.setProperty('--letter-size-width', `${letterSizeWidth}px`);
                //update letter-mask
                document.documentElement.style.setProperty('--letter-mask-size-height', `${letterMaskSizeHeight}px`);
                document.documentElement.style.setProperty('--letter-mask-size-width', `${letterMaskSizeWidth}px`);
                //update letter-media
                document.documentElement.style.setProperty('--letter-media-size-height', `${letterMediaSizeHeight}px`);
                document.documentElement.style.setProperty('--letter-media-size-width', `${letterMediaSizeWidth}px`);
            //update letter-space
            document.documentElement.style.setProperty('--letter-space-size-height', `${letterSpaceSizeHeight}px`);
            document.documentElement.style.setProperty('--letter-space-size-width', `${letterSpaceSizeWidth}px`);
    }

    // Calculate sizes on initial load and on window resize
    calculateSizes();
    window.addEventListener('resize', calculateSizes);
</script>