<!--header-->
<div class="section-divider" id="about"></div>
<h1 class="color1 dawningOfANewDay">{{item.title}}</h1>

<!-- display details of the selected item -->
<div>
    <h5>{{item.date}}</h5>
    <h5>One of our many fun and trendy {{item.category}}</h5>
    <img src="{{item.image}}" alt="{{item.title}}" class="img-thumbnail">
</div>

<!--carousel slider : item pictures-->
{{#if item}}
    <div class="section-divider" id="services"></div>
    <div class="owl-theme owl-carousel owl-packages">
        {{#each item.images}}
            <div class="card">
                <img src="{{this}}" class="card-img-top" alt="{{title}}">
            </div>
        {{/each}}
    </div>
{{/if}}

<!--label-->
<h2>Other {{item.category}}</h2>

<!--carousel slider : other items-->
{{#if otherItems}}
<div class="section-divider" id="services"></div>
<div class="owl-theme owl-carousel owl-packages">
    {{#each otherItems}}
    <div class="card">
        {{#if this.image}}
        <a href="/item/{{id}}" class="gallery-img">
            <img src="{{image}}" class="card-img-top" alt="{{title}}">
        </a>
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
        </div>
        <ul class="list-group list-group-flush nanumMyeongjo-regular">
            <li class="list-group-item">{{this.date}}</li>
        </ul>
    </div>
    {{/each}}
</div>
{{/if}}