<!--nav block-->
<nav class="nav" role="navigation">
    <div class="nav-block">
            <!-- logo -->
            <div class="logo">
                <a href="/">
                    <img src="/img/misc/logo.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="nav-space"></div>
            <ul class="nav-bar">
                {{#each navItems}}
                    <li class="nav-item">
                        <a href={{this.link}} class="nav-link">
                            <img src="{{this.image}}" alt="{{this.title}}" class="nav-item">
                        </a>
                    </li>
                    <div class="nav-space"></div>
                {{/each}}
            </ul>
    </div>
</nav>

<div class="space-block"></div>

<div class="title-block">
    <h1 class="title-block">{{item.title}}</h1>
</div>

<div class="item-block">
    <div class="item-block-end-space"></div>
    <div class="item-block-padding-space"></div>
    <div class="left-content-stack">
        <div class="left-content-stack-padding-space"></div>
        <div class="left-content-stack-medium">
            <h3>{{item.medium}}</h3>
        </div>
        <div class="left-content-stack-date">
            <h3>{{item.date}}</h3>
        </div>
        <div class="left-content-stack-padding-space"></div>
    </div>
    <div class="item-block-padding-space"></div>
    <div class="content">
        {{#if item.cover}}
                <div class="content">
                    {{#isVideo item.cover}}
                        <video controls>
                            <source src="{{item.cover}}" type="video/mp4" class="content">            
                            Your browser does not support the video tag.
                        </video>
                        {{else}}
                            <img src="{{item.cover}}" alt="{{item.title}}" class="content">
                    {{/isVideo}}
                </div>
            {{/if}}
    </div>
    <div class="item-block-padding-space"></div>
    <div class="right-content-stack">
        <div class="right-content-stack-padding-space"></div>
        <div class="right-content-stack-title">
            <h3>{{item.title}}</h3>
        </div>
        <div class="right-content-stack-group">
            <h3>{{item.group}}</h3>
        </div>
        <div class="right-content-stack-description">
            <h4>{{item.description}}</h4>
        </div>
        <div class="right-content-stack-padding-space"></div>
    </div>
    <div class="item-block-padding-space"></div>
    <div class="item-block-end-space"></div>
</div>

<div class="space-block"></div>

<div class="additional-media-block">
    <div class="additional-media-block-end-space"></div>
    {{#if additionalMedia}}
        {{#each additionalMedia}}
            <div class="additional-media-block-padding-space"></div>
            <div class="additional-media">
                <div class="content">
                    {{#isVideo item.cover}}
                        <video controls>
                            <source src="{{this}}" type="video/mp4" class="content">            
                            Your browser does not support the video tag.
                        </video>
                        {{else}}
                            <img src="{{this}}" alt="{{item.title}}" class="content">
                    {{/isVideo}}
                </div>
            </div>
        {{/each}}
    {{/if}}
    <div class="additional-media-block-padding-space"></div>
    <div class="additional-media-block-end-space"></div>
</div>

<div class="space-block"></div>

<div class="text-block">
    <div class="text-block-end-space"></div>
    <h2 class="text-block">More {{item.subcategory}}</h2>
    <div class="text-block-end-space"></div>
</div>

<div class="space-block"></div>

<div class="additional-items-block">
    <div class="additional-items-block-end-space"></div>
    {{#if additionalItems}}
        {{#each additionalItems}}
            <div class="additional-items-block-padding-space"></div>
            <div class="additional-item">
                <div class="content">
                    {{#isVideo this.cover}}
                        <video controls>
                            <source src="{{this.cover}}" type="video/mp4" class="content">
                            Your browser does not support the video tag.
                        </video>
                        {{else}}
                            <img src="{{this.cover}}" alt="{{this.title}}" class="content">
                    {{/isVideo}}
                </div>
            </div>
        {{/each}}
    {{/if}}
    <div class="additional-items-block-padding-space"></div>
    <div class="additional-items-block-end-space"></div>
</div>

<div class="space-block"></div>
