<!--header-->
<div class="section-divider" id="about"></div>
<h1 class="color3 dawningOfANewDay">{{subcategory}}</h1>

<!--image gallery : items-->
{{#if subcategoryData}}
<div class="section-divider" id="gallery"></div>
<div class="row">
    {{#each  subcategoryData}}
        <div class="col-3">
            <!--gallery item-->
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="media-container">
                    {{#if cover}}
                        <a href="/item/{{category}}/{{subcategory}}/{{group}}/{{id}}" class="gallery-img">
                            {{#isVideo cover}}
                                <video controls>
                                    <source src="{{cover}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                {{else}}
                                    <img src="{{cover}}" alt="{{title}}" class="img-thumbnail">
                            {{/isVideo}}
                        </a>
                    {{/if}}
                </div>
            </div>
            <h5>{{title}}</h5>
            <h7>{{date}}</h7>
        </div>
  {{/each}}
</div>
{{/if}}

<!--footer-->
<footer>
  Copyright 2023 - Kali Ryder
</footer>